$transition-duration: 0.2s
$dark-blue: #081528
$grey: #c5c5c5 
$yellow: #F0AB34


* 
  box-sizing: border-box


body, html 
  background-color: $dark-blue 
  color: $grey
  font-family: 'Roboto', sans-serif
  font-size: 1.1rem
  min-height: 100vh
  letter-spacing: 0.1rem
  margin: 0

a
  color: $grey
  text-decoration: none

ul 
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  padding: 0
  margin: 1rem 0 0

  li 
    list-style: none
    padding: 1rem
    margin: auto
    border-left: $grey 1px solid
    border-right: $grey 1px solid
    border-top: transparent 1px solid
    border-bottom: transparent 1px solid
    transition: all $transition-duration ease-in

  li:hover 
    cursor: pointer
    color: $yellow
    border: $yellow 1px solid

  li.active 
    color: $yellow 
    border: $yellow 1px solid

section
  display: flex
  transition: opacity $transition-duration 
  opacity: 1
  margin: 2rem auto
  width: 80vw

.in
  opacity: 0

.about 
  flex-direction: column

article
  margin: 2rem auto
  width: 80vw

.projects 
  flex-wrap: wrap
  justify-content: center

  .kozea 
    flex-grow: 4
    flex-basis: 80%


  .melomnia 
    flex-grow: 4
    flex-basis: 80%


  .purbeurre 
    flex-grow: 1
    flex-basis: 40%


  .grandpy 
    flex-grow: 1
    flex-basis: 40%

.project
  border: $grey 1px solid

  &__focus 
    align-items: center
    display: flex
    flex-direction: column
    min-height: 80vh
    padding: 1rem
    width: 80vw
    transition: all $transition-duration ease-out

    &--in
      width: 10vw 
      color: $dark-blue 
    
    .close
      align-self: flex-end
      height: 1.5rem
      color: $grey
      transition: color $transition-duration

      &:hover
        color: $yellow
        cursor: pointer
  
  &__title
    margin-bottom: 1rem

  &__baseline
    margin-top: 0
  
  hr
    color: $grey
    width: 15vw

  &__content
    margin: 2rem auto
    width: 80%
  
  &__links
    display: flex
    flex-wrap: wrap
    justify-content: center 

    a
      padding: 2rem
      transition: color $transition-duration

      &:hover
        color: $yellow
      

  &__mini 
    padding: 1rem
    margin: 1rem

    &:hover 
      color: $dark-blue
      background-color: $grey
      transition: all $transition-duration linear
      cursor: pointer

.contact
  flex-wrap: wrap
  justify-content: space-around
  margin: 4rem auto

  svg
    height: 9rem
    margin: 2rem
    transition: color $transition-duration 

    &:hover
      color: $yellow
      cursor: pointer